@import '../../../../assets/styles/02-Base/colors';
:host {
    section {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;

        background-color: $primary;
        display: flex;
        align-items: center;

        .form-wrapper {
            width: 100%;
            max-width: 550px;
            margin: auto;
        }
    }
}